<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!-- 连接字符串是否加密 -->
    <add key="ConStringEncrypt" value="false"/>
    <!-- 数据库连接字符串,（如果采用加密方式，上面一项要设置为true；加密工具，可在官方下载，
     		如果使用明文这样server=127.0.0.1;database=.....,上面则设置为false。 -->
    <add key="ConnectionString" value="server=10.161.2.210;database=Gymnasium;uid=sa;pwd=123"/>
     <!--<add key="ConnectionString" value="Data Source=127.0.0.1;AttachDbFilename=F:\Gymnasium_APP\Gymnasium_APP\Gymnasium.mdf;Initial Catalog=Gymnasium;Integrated Security=True"/>
    <add key="ConnectionString" value="Data Source=.;Initial Catalog=Gymnasium;Integrated Security=True"/>-->
    <add key="SystemName" value="XXX" />
    <add key="CusType" value="健身房" />
    <add key="Revoke" value="88888" />
    <add key="CurSkinIndex" value="8" />
    <add key="CardLength" value="10" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="DBType" value="sql"/>
  </appSettings>
</configuration>