<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!-- 连接字符串是否加密 -->
    <add key="ConStringEncrypt" value="false"/>
    <add key="ConnectionString" value="server=.;database=Gymnasium;uid=sa;pwd=123"/>
    <add key="SystemName" value="XXX" />
    <add key="CusType" value="健身房" />
    <add key="Revoke" value="88888" />
    <add key="CurSkinIndex" value="8" />
    <add key="CardLength" value="10" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="DBType" value="sql"/>
  </appSettings>
</configuration>